@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  @apply transition-colors duration-200;
}

body {
  @apply bg-dark text-white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-darkCard;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
